body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    line-height: 1.6;
    background-color: #fff;
}
header {
    background-color: #fff;
    padding: 20px 40px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    max-width: 1000px;
    margin: 0 auto;
}
header nav a {
    text-decoration: none;
    color: #A51C30;
    margin-right: 20px;
    font-weight: normal;
}
.container {
    display: flex;
    max-width: 1000px;
    margin: 20px auto;
    padding: 40px;
    background-color: #fff;
}
.sidebar {
    flex: 1;
    max-width: 200px;
    text-align: left;
    padding-right: 40px;
}
.sidebar img {
    width: 100%;
    border-radius: 8px;
    margin-top: 10px;
}
.content {
    flex: 3;
    padding-left: 40px;
}
.contact-info a {
    display: block;
    text-decoration: none;
    color: #A51C30;
    margin-bottom: 5px;
}
.content a {
    color: #A51C30;
    text-decoration: none;
}
.content a:hover {
    text-decoration: underline;
}
.content h1 {
    font-size: 1em;
    font-weight: bold;
}
.sidebar p {
    margin: 0;
}
.bold {
    font-weight: bold;
}
