body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #fff;
}

header {
    padding: 20px 40px;
    background-color: #fff;
    display: flex;
    justify-content: flex-end;
    border-bottom: 1px solid #e1e1e1;
}

.nav-link {
    text-decoration: none;
    color: #A51C30;
    margin-left: 20px;
}

.container {
    display: flex;
    max-width: 1000px;
    margin: 20px auto;
    padding: 20px;
}

.sidebar {
    flex: 1;
    max-width: 200px;
    text-align: left;
    padding-right: 40px;
    border-right: 1px solid #e1e1e1;
}

.sidebar img {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 10px;
}

.contact-info a {
    text-decoration: none;
    color: #A51C30;
    display: block;
    margin-bottom: 5px;
}

.content {
    flex: 3;
    padding-left: 40px;
}

.bold {
    font-weight: bold;
}

.link {
    color: crimson;
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
}

.image-caption {
    font-size: 0.9em;
    color: #666;
}
